*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif ;
}
:root{
    --color-main:#3D5A80;
    --color-light:#e0fbfc;
    --color-dark:#293240;
    --colo-extra:#E7694B;
}
.container{
    max-width: 1140px;
    padding-inline: 1.5rem;
    margin: 0 auto;

}
.main-title{
    margin: 2rem;    
}
.navbar{
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-main);
    border-bottom: #293240;
}
.logo{
    text-decoration: none;
    color: var(--color-light);   
}
.menu{
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.menu-link{
    text-decoration: none;
    color: var(--color-light);
    font-size: 1.2rem;
}

.productos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-block: 2rem;
    margin: 1rem 3rem;

}
.producto{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    overflow: hidden;
    
}
.producto > div{
    padding: 1rem;
    background-color: var(--color-light);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
}
.producto >img {
    height: 270px;
    width: 220px;
    margin-bottom: 1rem;
    object-fit: cover;
    overflow: hidden;
   
}
.producto .ver-mas{
    text-decoration: none;
    background-color: var(--color-dark);
    color: var(--color-light);
    padding: 0.5rem;
    width: max-content;
    border-radius: 0.5rem;
    transition: .2s;   
}
.producto .ver-mas:hover{
    background-color: var(--colo-extra);
    color: #e0fbfc;
}
.producto-detalle{
    padding-block: 2rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
}
.producto-detalle-img{
    height: 270px;
    width: 220px;
}
.producto-detalle-info h3{
    font-size: 2rem;   
}
.categoria{
    font-size: .8rem;
    color: #293240;
    margin-top: 1rem;
}
.precio{
    font-size: 2rem;
    margin-top: 2rem;
    font-weight: 500;
}
.imagen{
    width: 100%;
}